* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  background-color: black;
  color: white;
}
section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}
/* ******Head Nav********** */

header {
  margin-top: 3rem;
  width: 100%;
  border-radius: 0.3rem;
  display: flex;
  gap: 3rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  transition: background-color 2s;
  z-index: 1;
  color: white;
}
#burger_btn {
  display: none;
}

.header__name {
  font-size: 2.5rem;
  text-shadow: -0.2rem -0.01rem rgba(172, 255, 47, 0.356);
}

.nav__list {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.nav__list:hover {
  transform: scale(1.1);
  box-shadow: 0 0 7px #6fe740;
}

.nav__list--link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 3rem;
}
img {
  width: 100%;
}

div {
  border: 1rem groove silver;
  margin-bottom: 3rem;
  /* max-width: 900px; */
  display: grid;
  gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "d c c b i"
    "d a e e i"
    "f g g g i";
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.i {
  grid-area: i;
}
@media (max-width: 640px) {
  .header__name {
    font-size: 1rem;
    text-shadow: -1px -1px rgba(172, 255, 47, 0.356);
  }
  h2 {
    font-size: 2rem;
  }
  .nav__list--link {
    font-size: 1rem;
  }
}
