:root {
  --bg-black: #000000ec;
  --bg-section: #acff2f17;
  --font-color-white: #ffffff;
  --font-color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-black);
  color: var(--font-color-white);
}

.container {
  width: 100vw;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ********** HEAD and NAV BAR****************** */
header {
  width: 100%;
  border-radius: 0.3rem;
  position: fixed;
  display: flex;
  gap: 3rem;
  text-align: center;
  justify-content: space-around;
  padding: 1rem;
  transition: background-color 2s;
  z-index: 1;
}
#burger_btn {
  display: none;
}

.header__name {
  font-size: 2.5rem;
  text-shadow: -0.2rem -0.01rem rgba(172, 255, 47, 0.356);
}

.nav__list {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.nav__list:hover {
  transform: scale(1.1);
  box-shadow: 0 0 7px #6fe740;
}

.nav__list--link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font-color-white);
}
/* ********** HERO SECTION ****************** */
.hero {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/bgAurora.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}
.header__greetinngs {
  font-size: 4rem;
  text-align: center;
  text-shadow: -0.2rem -0.01rem rgba(172, 255, 47, 0.356);
}
/* ********** MAIN ****************** */
.main__article {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--bg-section);
}
.main__article--heading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/* ##### PROJECTS SECTION ##### */
.project_cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.project_card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: end;
  transition: all 250ms;
  gap: 1rem;
  padding: 0.5rem;
}
.project_card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 17px #6fe740;
}
.project_card_anchor {
  color: yellow;
  font-size: 0.8rem;
}
.project_card_tools {
  font-style: italic;
  font-size: 0.8rem;
}
.project_card_img {
  width: 100%;
  max-width: 250px;
  justify-self: center;
}
/* ********** ABOUT SECTION ****************** */
.article__about__content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}
.about__img {
  width: 100%;
  border-radius: 50%;
}

/* ####### SKILL SECTION ############# */
.skill_div_parent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill_div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-black);
  box-shadow: 0 0 15px #26a00b;
}
.skill_div:nth-child(even) {
  box-shadow: 0 0 15px #0000ff;
}

.fa-brands {
  font-size: 4rem;
  color: #0000ff;
}

/* ######### FOOTER ########## */

footer {
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--bg-section);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
  align-items: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.contact_form div {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.contact_form label {
  display: inline-block;
  width: 10rem;
  margin-bottom: 0.25rem;
}

.contact_form button {
  padding: 0.5rem;
}

.footer__copyWright--text {
  font-style: italic;
  font-size: 0.75rem;
}

/*  ##########AURORA IN HERO SECTION ############# */

.loader {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    165deg,
    #33cd10 0%,
    #26a00b 40%,
    #134d06 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
  position: relative;
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -100px 200px 200px #33cd1040 inset,
    0 -50px 150px 100px #33cd1050 inset, 0 -20px 50px #33cd1080 inset,
    0 -30px 20px #33cd10bb inset, 0 20px 0px #33cd10, 0 20px 30px #33cd10,
    0 50px 50px #33cd1090, 0 100px 150px #33cd1060,
    0 100px 200px 200px #33cd1040;
  filter: blur(1px);
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* ********** GO TO TOP ******** */

#go_to_top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 0, 0.678);
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--font-color-black);
  font-size: 1.2rem;
  font-weight: bold;
  transform: visibility 2s;
}

@media (max-width: 640px) {
  .container {
    min-width: 300px;
  }
  #burger_btn {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    transition: 1s;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  header h2 {
    align-self: flex-start;
  }
  .header__nav {
    display: none;
  }
  .header__nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project_cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .contact_form div {
    flex-direction: column;
    justify-content: center;
    gap: 0.05rem;
  }
  .contact_form label {
    width: 100%;
  }
  .header__name {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .article__about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__img {
    width: 50%;
  }
}
/* for js */
.hide {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}
