* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5vh;
  max-width: 900px;
  background-color: white;
  color: white;
  width: 85vh;
  background-image: url("img/bgAurora.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
  background-position: center;
}

header {
  height: 10vh;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  padding: 10px;
}
.header__name {
  font-size: 2.5rem;
}

.nav__list {
  display: inline-block;
  padding: 0.3rem;
  background-color: rgba(255, 228, 196, 0.3);
  border-radius: 10%;
}

.nav__list--link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__greetinngs {
  font-size: 4rem;
  text-align: center;
}
.main__article {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5%;
}
.main__article--heading {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.about__img {
  width: 300px;
  float: left;
  padding-right: 10px;
  border-radius: 10%;
}
.experience__img {
  width: 300px;
  float: right;
  padding-left: 10px;
  border-radius: 10%;
}
.skills__img {
  width: 300px;
  float: left;
  padding-right: 10px;
  border-radius: 50%;
}
.main__article--about {
  background-color: rgba(127, 255, 212, 0.05);
}
.main__article--experience {
  background-color: rgba(172, 255, 47, 0.05);
}
.main__article--skills {
  background-color: rgba(137, 43, 226, 0.05);
}
.skill_div_parent {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill_div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.024rem solid black;
}
/* .skill_div_parent div:nth-child(even) {
  background-color: gray;
} */
.fa-brands {
  font-size: 4rem;
  color: blue;
}
.footer__copyWright {
  background-color: black;
  margin-bottom: 50px;
  height: 70px;
  color: white;
}
.footer__copyWright--text {
  height: 20px;
  width: 300px;
  position: relative;
  margin: 0;
  top: 35%;
  left: 20%;
  font-style: italic;
  font-size: 0.75rem;
}
